:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40; 
    --black: #000; 
    --white: #fff;  
    --1E1E1E: #1E1E1E;  
    --darkred: #A32638;  
} 

$black-1e1e1e:#1E1E1E; 
$white:#fff;
$purple:#6f42c1;  
$red:#A32638; 
$yellow:#F1C400;
$green:#198754;
$black:#000; 
$cyan:#0dcaf0; 
$gray-100: #f8f9fa;
$gray-300: #F4F4F4;

$primary:$black-1e1e1e;
$secondary:$white;
$success:$green;
$info:$cyan;
$warning:$yellow;
$danger:$red;  
$black:$black; 
$light:$gray-100; 
$dark:$gray-300;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1691px
);
 

@import "../../node_modules/bootstrap/scss/bootstrap.scss";

html, body{font-size: 1rem;}  
    
// Font sizes are:
.fs-10{font-size: 0.625rem !important}  
.fs-12{font-size: 0.75rem !important} 
.fs-13{font-size: 0.813rem !important}  
.fs-14{font-size: 0.875rem !important}  
.fs-15{font-size: 0.938rem !important}  
.fs-16{font-size: 1rem !important}  
.fs-17{font-size: 1.063rem !important}  
.fs-18{font-size: 1.125rem !important}  
.fs-19{font-size: 1.188rem !important}  
.fs-20{font-size: 1.25rem !important} 
.fs-22{font-size: 1.375rem !important}  
.fs-24{font-size: 1.5rem !important}  
.fs-25{font-size: 1.563rem !important}  
.fs-26{font-size: 1.625rem !important}  
.fs-28{font-size: 1.75rem !important}  
.fs-30{font-size: 1.875rem !important}  
.fs-32{font-size: 2rem !important}
.fs-34{font-size: 2.125rem !important}    
.fs-40{font-size: 2.5rem !important}  

// Buttons
.btn{
    &.btn-light{
        background: transparent;
        border: none;
        color: var(--1E1E1E);
        &:hover{
            background-color: var(--light);
        }
    }
}

// Color
.text-dark-red{color: #7C2128 !important;}

// font weight are provided by Bootstrap 5 
// fw-bold, fw-bolder, fw-normal, fw-light, fw-lighter   

// Comman
.cursor-pointer{cursor: pointer;} 
// .container-xxl{}
 
 
.header--wrapper{ 
    .header--one{
        padding: 0.331rem 0;
        .carousel-inner{
            padding: 0 1.875rem;
        }
        .carousel-control-prev, .carousel-control-next{
            width: 0.938rem;
            opacity: 1;
        }
        .carousel-control-prev-icon{
            background-image: url('../../../images/svg/sm-arrow-left.svg');
        }
        .carousel-control-next-icon{
            background-image: url('../../../images/svg/sm-arrow-right.svg');
        }
    } 
    .header--two{ 
        .tf--sm--logo{
            margin: 0.25rem 2.125rem 0 0;
            padding-left: 20px;
        }
        .navbar--cust{ 
            background: #F4F4F4;
            border: 1px solid #CCC9C1;
            border-radius: 0px 0px 0px 0.688rem;
            border-right: 0;
            border-top: 0;
            padding-left: 25px;
            .navbar-nav{
                .nav-item{
                    .nav-link{
                        padding: 11px 10px;
                    }
                }
            }
            .spend--tooltip{
                .tooltip--box{
                    border: 1px solid #ddd;
                    border-radius: 0.313rem;
                    box-shadow: 0 0 0.313rem #ddd; 
                    width: 335px;  
                    position: absolute;
                    right: 0;
                    top: 40px;
                    z-index: 9999;
                    padding: 15px 15px 0 0;
                    display: none;
                }
                &:hover{
                    .tooltip--box{
                        display: block;
                    }
                }
            }
        }
        
    } 
}
.main--header{
    background-color: var(--white);
    border-bottom: 1px solid #CCC9C1;
    &.fixed-top{
        border-bottom: 1px solid #DBDBDB;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    }
    .logo--sec{
        margin: 5px 50px 0 20px;
    }
    .right--option{
        li{
            border-left: 1px solid #ddd;
            height: 69px;
            &.global--search{
                flex-grow: 2;
                .form-control{
                    margin: 0 30px;
                    border: none;
                    &:focus{
                        box-shadow: 0 0 6px #ddd;
                    }
                } 
            }
            &.dd--options{
                padding: 0 30px;
                .dropdown-toggle{
                    &::after{
                        content: unset;
                    }
                }
            }
            &.add--to--cart{
                padding: 0 40px;
                .cart--count{
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    color: var(--white);
                    background: var(--darkred); 
                    position: absolute;
                    right: -15px;
                    top: -13px; 
                }
            }
        }
    }
}

.black--header{
    ul{
        list-style-type: none;
        li{
            flex-grow: 2;
        }
    }
}

// Section One
.section--one{
    padding: 0 20px 20px;
}



